
<div class="row col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <h1>Change Password</h1>
        <!--<form>
            <div class="form-group">
                <!--<label>Username</label>
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" class="form-control" ng-model="user.userData.password" placeholder="New Password">
            </div>
            <div class="form-group">
                <i class="glyphicon glyphicon-lock"></i>
                <input type="password" class="form-control" ng-model="user.userData.password" placeholder="Confirm Password">
            </div>
            <div class="alert alert-danger" ng-if="user.error">
                {{ user.error }}
            </div>           
            <div class="row col-md-6 col-md-offset-0" style="margin-right:0; float:right; padding:0px;">
                <button type="submit" class="btn btn-block btn-login">
                    <span ng-if="!user.processing">Submit</span>
                    <span ng-if="user.processing" class="spinner">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </span>
                </button>
            </div>
        </form>-->
    </div>   
</div>
