<div class="row col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <div class="clearfix"></div>
        <h1>Forgot Password</h1>
        <form ng-submit="forgotPassword.doforgotPassword()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="forgotPassword.userData.username" required>
            </div>           
            <button type="submit" class="btn btn-block btn-login">
                <span>Forgot Password</span>
                <span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
            </button>
            <a href="/login">Please Click here to login</a>
            <div class="alert alert-info" ng-if="forgotPassword.error">
                {{ forgotPassword.error }}
            </div>
        </form>
    </div>
</div>
