<div class="welcomeBox">
    <div class="jumbotron text-center">
        <h1>Welcome to the Akiyama Site!</h1>
        <div ng-if="!main.loggedIn">
            <p>Login to see manage your images.</p>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
        <div ng-if="main.loggedIn">
            <div ng-if="main.user.isadmin">
                <p>Manage your users.</p>
                <a href="/users" class="btn btn-primary">View Users</a>
            </div>
            <div ng-if="!main.user.isadmin">
                <p>Manage your images.</p>
                <a href="/images/create" class="btn btn-primary">View Images</a>
            </div>
        </div>
    </div>
</div>
