
<main class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="imguploadbx">
                <h1>Reports</h1>
                <div class="grfbx">
                    <center><h3 style="color:green"> Under Process......</h3></center>
                    <!--<div class="col-lg-3 col-sm-3 col-xs-12">
                      <div class="graf-bx1">
                        <h2>Yesterday</h2>
                        <div class="cerc-bx"><img src="assets/img/img-serc1.jpg" alt=""></div>
                      </div>
                    </div>-->
                    <!--<div class="col-lg-3 col-sm-3 col-xs-12">
                      <div class="graf-bx1">
                        <h2>Month To Date</h2>
                        <div class="cerc-bx"><img src="assets/img/img-serc2.jpg" alt=""></div>
                      </div>
                    </div>-->
                    <!--<div class="col-lg-3 col-sm-3 col-xs-12">
                      <div class="graf-bx1">
                        <h2>Last Month</h2>
                        <div class="cerc-bx"><img src="assets/img/img-serc3.jpg" alt=""></div>
                      </div>
                    </div>-->
                    <!--<div class="col-lg-3 col-sm-3 col-xs-12">
                      <div class="graf-bx1">
                        <h2>Year To Date</h2>
                        <div class="cerc-bx"><img src="assets/img/img-serc4.jpg" alt=""></div>
                      </div>
                    </div>-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<main class="container">
  <div class="row">
    <div class="col-lg-7 col-sm-7 col-xs-12">
      <div class="imguploadbx">
        <h1>Recent uploads</h1>
        <div class="cerc-bx1 grfbx1"> <img src="assets/img/image-title-img.jpg" class="img-responsive" width="630" alt=""> </div>
      </div>
    </div>
    <div class="col-lg-5 col-sm-5 col-xs-12">
      <div class="imguploadbx">
        <h1>Overall Stats</h1>
        <div class="cerc-bx1 grfbx1"><img src="assets/img/pai-1.jpg" class="img-responsive" alt=""></div>
      </div>
    </div>
  </div>
</main>-->
