<main class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="imguploadbx">
                <h1>Reports</h1>
                <div class="grfbx">
                    <div style="padding: 4px">
                        <p style="width:100%;"></p>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-5" style="padding-right: 5px;">
                                    <div class="padding-5 col-sm-6">
                                        <datepicker date-format="yyyy/MM/dd" selector="form-control">
                                            <div class="input-group">
                                                <input id="txt1" class="new-input form-control" placeholder="from date" data-ng-model="report.fromdate" name="fromDate" ng-required="true" />
                                                <span class="input-group-addon" style="cursor: pointer; background: none; position: absolute; right: 5px; top: 7px;">
                                                    <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                            </div>
                                        </datepicker>
                                    </div>
                                    <span ng-show="report.fromDate.$error.required">Start date is required.</span>

                                    <div class="padding-5 col-sm-6">
                                        <datepicker date-format="yyyy/MM/dd" selector="form-control">
                                            <div class="input-group">
                                                <input id="txt1" class="new-input form-control" placeholder="to date" data-ng-model="report.todate" />
                                                <span class="input-group-addon" style="cursor: pointer; background: none; position: absolute; right: 5px; top: 7px;">
                                                    <i class="fa fa-lg fa-calendar"></i>
                                                </span>
                                            </div>
                                        </datepicker>

                                    </div>
                                    </div>
                                    <div class="padding-5 col-sm-3" ng-show="report.adminvalue==true">
                                        <select ng-model="report.clientId" class="new-input form-control">
                                            <option value="">--Select Client--</option>
                                            <option data-ng-repeat="data in report.clients" value="{{data.ClientId}}">{{data.name}}</option>
                                        </select>
                                    </div>

                                    <div class="padding-5 col-sm-4 padding-5">
                                        <label>
                                            <button id="btn" data-ng-click="report.filterGrid(report.clientId,report.fromdate,report.todate)" class=" btn btn-primary">Generate Report</button>
                                        </label>
                                        <label style="margin-left:10px;">
                                            <button id="btn" data-ng-click="onBtExport()" class="btn btn-primary">Export CSV</button>
                                        </label>
                                    </div>
                                    <div class="col-sm-2">

                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-3">
                            <input class="new-input form-control" placeholder="Search..." type="text" data-ng-model="this.value"
                                   data-ng-keydown="onFilterChanged(this.value)"
                                   data-ng-keyup="onFilterChanged(this.value)"
                                   data-ng-change="onFilterChanged(this.value)" />
                        </div>

                        <div class="col-sm-12"><div class="text-center col-sm-12 alert alert-danger" style="font-size:14px; padding:7px; margin-top:10px; margin-bottom: 0;" ng-if="report.Error">{{ report.Error }}</div></div>

                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="imguploadbx agStyle">
                                <div id="myGrid" ag-grid="gridOptions" class="ag-fresh" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .ag-header-cell-filtered {
        background-color: #e5e5e5;
    }

    .agStyle .ag-fresh .ag-row {
        background-color: #fff;
        min-height: 100px;
        position: relative;
        top: 0 !important;
        left: 0;
    }

        .agStyle .ag-fresh .ag-row img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }

    .ag-fresh .ag-header-cell {
        border-right: 1px solid #808080;
        width: 19.72% !important;
        position: relative;
        left: 0 !important;
    }

    .ag-scrolls .ag-header-row {
        position: absolute;
        width: 100%;
    }

    .ag-scrolls .ag-body-container {
        position: relative;
        display: inline-block;
        width: 100% !important;
    }

    .ag-fresh .ag-cell-not-inline-editing {
        padding: 2px;
        width: 20% !important;
        position: relative;
        left: 0 !important;
        padding: 3px;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .ag-fresh .ag-row-odd {
        background-color: #f6f6f6 !important;
    }

    .ag-fresh .ag-header {
        color: #000;
        background: -webkit-linear-gradient(#fff, #d3d3d3);
        background: -moz-linear-gradient(#fff, #d3d3d3);
        background: -o-linear-gradient(#fff, #d3d3d3);
        background: -ms-linear-gradient(#fff, #d3d3d3);
        background: linear-gradient(#fff, #d3d3d3);
        border-bottom: 1px solid #808080;
        font-weight: normal;
        background: #025378 !important;
        color: #fff !important;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
    }

    .ag-fresh .ag-header-icon {
        color: #fff !important;
        stroke: none;
        fill: #fff !important;
    }
    .padding-5 {
        padding: 0 5px;
    }
    .input-group .form-control:first-child {
            border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    }
</style>
