<div class="page-header">
	<h1>
		Clients 
		<a href="/clients/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New Client
		</a>
	</h1>

</div>

<div class="loader-box" ng-show="client.processing">
    <div class="loader"></div>
    <p>Loading Clients...</p>
</div>

<table class="table table-bordered table-striped" ng-show="client.clients">
	<thead>
		<tr>
            <th style="display:none;">_id</th>
            <th>Client Id</th>
			<th>Name</th>
			<th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Status</th>
			<th class="col-sm-1"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="cl in client.clients">
            <td style="display:none">{{ cl._id }}</td>
            <td>{{ cl.ClientId }}</td>
			<td>{{ cl.name }}</td>
			<td>{{ cl.address1 }}</td>
            <td>{{ cl.address2 }}</td>
            <td>{{ cl.city }}</td>
            <td>{{ cl.state }}</td>
            <td>{{ cl.zip }}</td>
            <td>{{ cl.country }}</td>
            <td><input type="checkbox" ng-model="cl.isActive" disabled></td>
			<td class="col-sm-1">
				<a ng-href="/clients/{{ cl._id }}" class="btn btn-danger">Edit</a>
			</td>
		</tr>
	</tbody>
</table>

