<div class="page-header">
    <h1>
        Images
        <a href="/images/create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Image
        </a>
    </h1>
</div>
<div class="jumbotron text-center" ng-show="image.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Images...</p>
</div>
<table class="table table-bordered table-striped" ng-show="image.images">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Client</th>
            <th>User</th>
            <th>Uploaded On</th>
            <th>Image</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="im in image.images | orderBy:im.uploadedOn:sort.ascending">
            <td>{{ im._id }}</td>
            <td>{{ im.name }}</td>
            <td>{{ im.size }}</td>
            <td>{{ im.type }}</td>
            <td>{{ im.client }}</td>
            <td>{{ im.user }}</td>
            <td>{{ im.uploadedOn }}</td>
            <td>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <img data-ng-src="{{im.byte}}" data-err-src="images/png/avatar.png" height="200" width="200" />
                    </div>
                </div>
            </td>
          
        </tr>
    </tbody>
</table>
