<div class="page-header">
    <h1>
        Images
        <a href="/images/create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Image
        </a>
    </h1>
</div>

<div class="loader-box" ng-show="image.processing" ng-init="image.getImages(main.user.clientid)">
    <div class=" loader"></div>
    <p>Loading Images...</p>
</div>

<table class="table table-bordered table-striped" ng-show="image.images">
    <thead>
        <tr>
            <th>Name</th>
            <th>File Name</th>
            <th>Type</th>
            <th>User</th>
            <th>Uploaded On</th>
            <th>Status</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="im in image.images | orderBy:im.uploadedOn:sort.ascending">
            <td>
                {{ im.name }}

            </td>
            <td>
                {{ im.filename }}

            </td>
            <td>{{ im.type }}</td>
            <td>{{ im.user }}</td>
            <td>{{im.uploadedOn | date:'MM/dd/yyyy'}}</td>

            <td ng-class="{'notScored': (im.status == 0),
                 'poor': (im.status ==1),
                 'ok': (im.status ==2),
                 'good': (im.status ==3),
                 'best': (im.status ==4),
                 'excellent': (im.status ==5),
                 'pending': (im.status ==-1),
                }">
                {{ im.status }}
            </td>
            <td>
                <div ng-controller="ShowHideCtrl">
                    <input type="button" value="{{btnText}} " ng-click="ShowHide()"
                           class="btn btn-success" />
                    <div ng-show="IsVisible">
                        <img data-ng-src="{{im.byte}}" data-err-src="images/png/avatar.png" height="auto" width="100%" style="max-width:300px;" />
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<style>
    .pending {
        background-color: #afabaa;
    }
    .notScored {
        background-color: #b90000;
    }
    .poor {
        background-color: #3bc2f2;
    }
    .ok {
        background-color: #fed966;
    }

    .good {
        background-color: #2d74b4;
    }
    .best {
        background-color: #f07f2f;
    }
    .excellent {
        background-color: #548237;
    }
</style>
