<div class="page-header">
    <h1>Add Image</h1>

</div>
<div class="jumbotron text-center" ng-show="image.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Uploading Image...</p>
</div>
<form class="form-horizontal" ng-submit="image.saveImage()">


    <div class="form-group">
        <label class="col-sm-2 control-label">Image</label>
        <div class="col-sm-6" ng-controller="fileCtrl">

            <div ng-repeat="step in stepsModel">
                <img class="thumb" ng-src="{{step}}" />
            </div>

            <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-success btn-lg btn-block">Add Image</button>
        </div>
    </div>

</form>

<div class="row show-hide-message" ng-show="image.message">
    <div class="col-sm-6 col-sm-offset-2">

        <div class="alert alert-info">
            {{ image.message }}
        </div>
    </div>
</div>
