<div class="page-header">
	<h1>
		Users 
		<a href="/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New User
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<table class="table table-bordered table-striped" ng-show="user.users">
    <thead>
        <tr>
            <th>User</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email Id</th>
            <th>client Name</th>
            <!--<th>Is Admin</th>
            <th>Is Active</th>-->
            <th class="col-sm-2"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in user.users">
            <td style="display:none;">{{ person._id }}</td>
            <td>{{ person.UserId }}</td>
            <td>{{ person.firstname }}</td>
            <td>{{ person.lastname }}</td>
            <td>{{ person.username }}</td>
            <td>{{person.email}}</td>
            <td>{{ person.clientname }}</td>
            <!--<td>{{ person.isadmin }}</td>
            <td>{{ person.isactive }}</td>-->
            <td class="col-sm-2">
                <a ng-href="/users/{{ person._id }}" class="btn btn-danger">Edit</a>
                <a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
