<div class="page-header">
	<h1 ng-if="user.type == 'create'">Create User</h1>
	<h1 ng-if="user.type == 'edit'">Edit User</h1>
</div>

<form class="form-horizontal" ng-submit="user.saveUser()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Role</label>
        <div class="col-sm-6">
            <select name="type" ng-model="user.userData.role" ng-dropdown required ng-change="changeme()">
                <option value="">--Select--</option>
                <option ng-option value="Admin">Admin</option>
                <option ng-option value="Client">Client</option>
            </select>
            <!--Selected Value is:{{user.userData.role}}-->
        </div>
    </div>

    <div class="form-group" id="cash" ng-if="user.userData.role == 'Client'">
        <div>
            <label class="col-sm-2 control-label">Client List</label>
            <select name="type" ng-model="user.userData.clientname">
                <option value="">--Select--</option>
                <option ng-option value="A">A</option>
                <option ng-option value="B">B</option>
                <option ng-option value="C">C</option> 
                <option ng-option value="D">D</option>
            </select>
            <!--Selected Value is:{{user.userData.clientname}}-->
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">FirstName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="user.userData.firstname">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">LastName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="user.userData.lastname">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="user.userData.username">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">EmailId</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="user.userData.email">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">IsAdmin</label>
        <div class="col-sm-6">
            <input type="checkbox" ng-model="user.userData.isadmin">
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">IsActive</label>
        <div class="col-sm-6">
            <input type="checkbox" ng-model="user.userData.isactive">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'create'">Create User</button>
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'edit'">Update User</button>
        </div>
    </div>

</form>

<div class="row show-hide-message" ng-show="user.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ user.message }}
		</div>

	</div>
</div>
